		<h1>Help</h1>
		<p>
			Get help the Ruby on Rails Tutorial at the <a href="http://railstutorial.org/help">Rails Tutorial help page</a>To get help on this sample app, see the <a href="http://railstutorial.ru/chapters/4_0/beginning">Rails Tutorial book (lang rus)</a>
		</p>
